<!-- メインビジュアル -->
<div class="main-visual">
    <div class="main-visual-content">
        <p class="main-visual-text">
          Water - the ocean - is our most natural environment.<br>
          We are born naked from the miniature ocean<br>
          of the mother's womb.
        </p>
        <p class="main-visual-name">
          ー Jacques Mayol ー
        </p>
    </div>
</div>

<!-- ABOUT THIS SITE -->
<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <h1 class="about-headline">〜Welcome to SCUBACITY!!〜</h1>

      <div class="row">
        <div class="aboutpage">
          <div class="col-md-5">
            <h2 class="about-medium-headline">What is SCUBACITY?</h2>
            <p>
              スクーバーダイビングを楽しんだ際に撮った思い出の写真を記録しシェアするサイトです。<br>
              また、ダイバー同士の交流の場としても使用できます。<br>
            </p>
            <p>
              下記のように様々な使い方ができます。
            </p>
            <p>
            <li>ダイブログ代わりに。</li>
            <li>ダイブスポットの記録に。</li>
            <li>生物の記録に。</li>
          </p>
            <p>
              などなど。<br>
              使い方は自由です！<br>
              たくさん写真をシェアしてダイビングを楽しみましょう！
            </p>
          </div>
          <div class="col-md-7">
            <p class="about-image-1"></p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="aboutpage">
          <div class="col-md-7">
            <p class="about-image-2"></p>
          </div>
          <div class="col-md-5">
            <h2 class="about-medium-headline">How to use?</h2>
            <p><strong>STEP1.まずはアカウントの作成！</strong><br>
              未作成の方は<strong><%= link_to new_user_session_path do%>こちら<% end %></strong>から作成ページへ。
            </p>
            <p><strong>STEP2.思い出をシェアしよう！</strong><br>
              新規投稿ボタンをクリックして思い出の写真を投稿します。
            </p>
            <p><strong>STEP3.ダイバー仲間が投稿した写真を見よう！</strong><br>
              他のダイバーの写真を見ることができます。<br>
              素敵な写真にはぜひ「いいね」をして、お気に入りのダイバーをフォローしよう！
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>