<!-- メインビジュアル -->
<div class="main-visual">
    <div class="main-visual-content">
        <p class="main-visual-text">
          Water - the ocean - is our most natural environment.<br>
          We are born naked from the miniature ocean<br>
          of the mother's womb.
        </p>
        <p class="main-visual-name">
          ー Jacques Mayol ー
        </p>
    </div>
</div>