/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}
a {
  color: #6b6b6b;
}
ul {
  list-style: none;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
header, nav, .main-visual, h2 {
  font-family: 'Amatic SC', cursive;
  color: #6c6b6b;
}


// header
header {
  position: relative;
  width: 90%;
  padding: 10px 0;
  margin: 0 auto;
  text-align: center;
}
header .headline{
  font-size: 45px;
}
.user_status {
  position: absolute;
  top: 22px;
  right: 22px;
  font-size: 25px;
}
.user_status li {
  display: inline-block;
  margin-left: 20px;
}
.main-visual {
  width: 100%;
  height: 400px;
  margin-bottom: 20px;
  background-image: image-url("02.jpg");
  background-size: cover;
  background-position: center;
}
.main-visual-content {
  width: 40%;
  height: 400px;
  background: rgba(0,0,0,0.5);
  text-align: center;
  padding-top: 105px;
}
.main-visual-text {
  color: #fff;
  font-size: 25px;
}
.main-visual-name {
  color: #fff;
  margin-top: 30px;
  font-size: 25px;
}
.nav-list {
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
}
.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  font-size: 25px;
}


// sidebar
.sidebar_box{
  margin:30px 0;
  position: relative;
  padding: 10px;
  border-top: solid 6px #f7f7f7;
  border-bottom: solid 6px #f7f7f7;
}
.sidebar_box:before, .sidebar_box:after{
  content: '';
  position: absolute;
  top: -10px;
  width: 6px;
  height: -webkit-calc(100% + 20px);
  height: calc(100% + 20px);
  background-color: #f7f7f7;
}
.sidebar_box:before {
  left: 10px;
}
.sidebar_box:after {
  right: 10px;
  }
.sidebar_box p {
    margin: 0;
    padding: 15px;
}
.sidebar_position {
  text-align: center;
}
.profile_headline {
  display: inline-block;
  border-bottom: 8px solid #f7f7f7;
  text-align: center;
  line-height: 0.6;
}


// user#show
.mypost {
  width: 700px;
  float: left;
  margin-left: 30px;
}
.mypost_headline {
  border-bottom: 8px solid #f7f7f7;
  text-align: center;
  line-height: 0.6;
}
.mypost-box {
  padding-top: 50px;
}
.mypost-item {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #f7f7f7;
}
.mypost-left {
  float: left;
  width: 280px;
  background-position: center;
  background-size: cover;
}
.mypost-content {
  float: left;
  width: calc(100% - 280px);
}
.mypost-caption {
	word-wrap: break-word;
}

// top
.recentposts-content {
  word-wrap: break-word;
}


// posts#index
.posts {
  width: 700px;
  float: left;
  margin-left: 20px;
}
.posts_headline {
  border-bottom: 8px solid #f7f7f7;
  text-align: center;
  line-height: 0.6;
}
.posts-box {
  padding-top: 50px;
}
.posts-item {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #f7f7f7;
}
.posts-left {
  float: left;
  width: 280px;
  background-position: center;
  background-size: cover;
}
.posts-content {
  float: left;
  width: calc(100% - 280px);
}
.posts-caption {
  word-wrap: break-word;
}

// users#show
.recentpost-headline{
  border-bottom: 8px solid #f7f7f7;
  text-align: center;
  line-height: 0.6;
}
.resentposts-box {
  width: 220px;
  float: left;
  margin-left: 30px;
}
.post-date {
  text-align: right;
}


// users#edit
.form-header-title {
  border-bottom: 8px solid #f7f7f7;
  text-align: center;
  line-height: 0.6;
}
.user-edit-image {
  text-align: center;
  padding: 20px 0;
}

//
.users_headline{
  border-bottom: 8px solid #f7f7f7;
  text-align: center;
  line-height: 0.6;
}

// user#index
.user-box {
  width: 220px;
  float: left;
  margin-left: 30px;
}

// follow
.follow_headline {
  border-bottom: 8px solid #f7f7f7;
  text-align: center;
  line-height: 0.6;
}

// paginate
.paginate {
  font-size: 20px;
  text-align: center;
}